__pycache__/
*.py[cod]
*$py.class

.env
.venv/
venv/
ENV/
env/

*.sqlite3
db.sqlite3

.idea/
.vscode/

*.log
*.pot

media/
staticfiles/

*.egg-info/
dist/
build/
.mypy_cache/
.pytest_cache/
.ruff_cache/
